body {
 background-color: #0A1F30;
 overflow: hidden;
 text-align:center;
  display: flex;
  align-items: center;
  justify-content: center; 
}

body,
html {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
}

svg {
 width:1600px;;
 height: 1200px;
 visibility: hidden;
}

#dragger, #cover {
 -webkit-tap-highlight-color: transparent;
}
